<select name="" id="" [(ngModel)]="yearSelected" (change)="onChange()">

    <option [ngValue]="year" *ngFor="let year of years" >
        {{year}}
    </option>

</select>

<select name="" id="" [(ngModel)]="monthSelected" (change)="onChange()">

    <option [ngValue]="month" *ngFor="let month of months" >
        {{month.label}}
    </option>

</select>

<div class="box-calendar">
    <div class="header-calendar">
        {{monthSelected.label}} {{yearSelected}}  
    </div>

    <div class="days-week">
        <div>
            Lu
        </div>
        <div>
            Ma
        </div>
        <div>
            Me
        </div>
        <div>
            Je
        </div>
        <div>
            Ve
        </div>
        <div>
            Sa
        </div>
        <div>
            Di
        </div>
    </div>

    <div class="days">
        <div *ngFor="let day of grillDays" (click)="changeDay(day)">
            {{day.value | date : 'd' }}
        </div>
    </div>

</div>

<div *ngIf="currentDate != null">
    {{currentDate | date : 'yyyy/MM/dd'}}

    <div class="zone" *ngFor="let zone of ZONES">
        
    </div>

</div>